<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Layout - Level 1</title>

  <link href="src/css/main.min.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header>
      <nav>
        <div class="logo">
          worona
        </div>
        <ul>
          <li>publish</li>
          <li>extensions</li>
          <li>blog</li>
          <li>contact</li>
        </ul>
      </nav>
    </header>
    <section>
      <header>
        <h1 class="h1">Turn your WordPress into an App</h1>
      </header>
      <div class="">
        <h2 class="h2">Check out our demo app!</h2>
        <span class="">
          <button type="button" name="button">
            <img src="src/assets/app-store.png" alt="">
          </button>
          <button type="button" name="button">
            <img src="src/assets/google-play.png" alt="">
          </button>
        </span>
      </div>
    </section>
    <footer>
      <figure>
        <img src="src/assets/nexus.png" alt="">
      </figure>
      <figure>
        <img src="src/assets/iphone.png" alt="">
      </figure>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="src/js/main.js"></script>
</body>
</html>
