<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Layout - Level 1</title>

  <link href="src/css/main.min.css" rel="stylesheet">
</head>
<body>
  <div class="wrapper">
    <header class="b-nav">
      <nav>
        <a class="logo" href="#">worona</a>
    		<ul>
    			<li><a href="#">publish</a></li>
    			<li><a href="#">extensions</a></li>
    			<li><a href="">blog</a></li>
    			<li><a href="">contact</a></li>
    		</ul>
    		<div class="btn-mob"></div>
      </nav>
    </header>
    <section class="b-content">
      <header>
        <h1 class="h1">Turn your WordPress into an App</h1>
      </header>
      <h2 class="h2">Check out our demo app!</h2>
      <span>
        <button type="button" name="button">
          <img src="src/assets/app-store.png" alt="">
        </button>
        <button type="button" name="button">
          <img src="src/assets/google-play.png" alt="">
        </button>
      </span>
    </section>
    <footer class="b-footer">
      <span>
        <figure>
          <img src="src/assets/nexus.png" alt="">
        </figure>
        <figure>
          <img src="src/assets/iphone.png" alt="">
        </figure>
      </span>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="src/js/main.js"></script>
</body>
</html>
